In [16]:
import pandas as pd
import numpy as np

##  Etapas do projetos 
  - Limpeza
  - Ánalise descritiva  
  - Normalização de dados
  - Dicionário de dados

  - Metricas

    - Total de medalhas conquistadas por país.
    - Quantidade de medalhas de ouro, prata e bronze.
    - Número de atletas por país.
    - Número de modalidades disputadas por país.
    - Evolução de medalhas ao longo dos anos.
    - Percentual de medalhas em relação ao total possível.
    - Total  por genero
    - Total de medalha por esporte

- kpi
  - **Meta**: Melhorar o desempenho em determinada modalidade → **KPI**: Evolução de medalhas nessa modalidade específica.
  - **Meta**: Estar no Top 5 do ranking de medalhas → **KPI**: Posição no ranking geral.
  - **Meta**: Ter maior taxa de eficiência por atleta → **KPI**: Medalhas conquistadas / número de atletas enviados.
  - **Meta**: Aumentar participação feminina → **KPI**: Percentual de atletas mulheres por delegação.

- escopo do prototipo - figma 
- kanban - trello 
- documentação google-doc
- implentação 
- testar 

**Separação de Tarefas**
- integração de dados  - franklin alexandre
- aed - franklin - alexandre
- prototipo - zilda e matheus 
- implementação - alexandre e franklin 
- teste - zilda e matheus

In [17]:
bio = pd.read_csv(r'D:\Documents\Residência em Dados - Instituto ECOA\bioatleta.csv')
events_results = pd.read_csv(r"D:\Documents\Residência em Dados - Instituto ECOA\world_olympedia_olympics_athlete_event_result.csv")

C:\Users\User\AppData\Local\Temp\ipykernel_17240\391295982.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  events_results = pd.read_csv(r"D:\Documents\Residência em Dados - Instituto ECOA\world_olympedia_olympics_athlete_event_result.csv")

In [18]:
bio.head()

,athlete_id,name,sex,birth_date,birth_year,height,weight,country,country_noc,Unnamed: 9,special_notes
0,2303707,A. Sansores,Male,NaN,NaN,NaN,NaN,Cuba,CUB,NaN,NaN
1,2303703,Álvaro Ledón,Male,NaN,NaN,NaN,NaN,Cuba,CUB,NaN,NaN
2,921722,Abelardo Cuevas,Male,NaN,NaN,NaN,NaN,Cuba,CUB,NaN,NaN
3,2303702,V. Fernández,Male,NaN,NaN,NaN,NaN,Cuba,CUB,NaN,NaN
4,2303738,A. F. Ruiz,Male,NaN,NaN,NaN,NaN,Cuba,CUB,NaN,NaN

In [19]:
events_results.head()

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,position,medal,is_team_sport
0,1928 Winter Olympics,30,SUI,Skeleton,"Skeleton, Men",1,Willy von Eschen,98710,Did not finish,NaN,False
1,1928 Winter Olympics,30,FRA,Skeleton,"Skeleton, Men",1,"Jean, Comte de Beaumont",42118,Did not start,NaN,False
2,1928 Winter Olympics,30,FRA,Skeleton,"Skeleton, Men",1,Pierre Dormeuil,85267,Did not finish,NaN,False
3,1928 Winter Olympics,30,GBR,Skeleton,"Skeleton, Men",1,Lord Brabazon of Tara,1202561,Did not start,NaN,False
4,1928 Winter Olympics,30,SUI,Skeleton,"Skeleton, Men",1,Alexander Berner,84063,5,NaN,False

In [ ]:
bio.drop(columns=['Unnamed: 9', 'special_notes'], inplace= True)

,athlete_id,name,sex,birth_date,birth_year,height,weight,country,country_noc
0,2303707,A. Sansores,Male,NaN,NaN,NaN,NaN,Cuba,CUB
1,2303703,Álvaro Ledón,Male,NaN,NaN,NaN,NaN,Cuba,CUB
2,921722,Abelardo Cuevas,Male,NaN,NaN,NaN,NaN,Cuba,CUB
3,2303702,V. Fernández,Male,NaN,NaN,NaN,NaN,Cuba,CUB
4,2303738,A. F. Ruiz,Male,NaN,NaN,NaN,NaN,Cuba,CUB

In [33]:
events_results.drop(columns=['result_id', 'event'], inplace= True) # Ver se as colunas 'position' e 'is_team_sport' nos ajudam a responder alguma pergunta

In [31]:
bio.isnull().sum()

athlete_id         0
name               0
sex                0
birth_date      6650
birth_year      4167
height         50749
weight         51710
country            0
country_noc        0
dtype: int64

In [32]:
events_results.isnull().sum()

edition               0
edition_id            0
country_noc           0
sport                 0
event                 0
result_id             0
athlete               0
athlete_id            0
position              0
medal            272147
is_team_sport         0
dtype: int64