In [259]:
import pandas as pd
import numpy as np

In [260]:
bio = pd.read_csv(r'C:\Users\User\Documents\Residência em Dados - Instituto ECOA PUCRIO\Athlete Bio.csv') # Leitura utilizando pandas do dataset das características de cada atleta
events_results = pd.read_csv(r"C:\Users\User\Documents\Residência em Dados - Instituto ECOA PUCRIO\Athlete Event Result.csv") # Leitura do dataset de resultados por atleta

C:\Users\User\AppData\Local\Temp\ipykernel_8268\1569829343.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  events_results = pd.read_csv(r"C:\Users\User\Documents\Residência em Dados - Instituto ECOA PUCRIO\Athlete Event Result.csv") # Leitura do dataset de resultados por atleta

In [261]:
bio.head() # O comando .head() imprime o "cabeçalho" do dataset para mostrar se foi lido corretamente

,athlete_id,name,sex,birth_date,birth_year,height,weight,country,country_noc,description,special_notes
0,2303707,A. Sansores,Male,NaN,NaN,NaN,NaN,Cuba,CUB,NaN,NaN
1,2303703,Álvaro Ledón,Male,NaN,NaN,NaN,NaN,Cuba,CUB,NaN,NaN
2,921722,Abelardo Cuevas,Male,NaN,NaN,NaN,NaN,Cuba,CUB,"Abelardo Cuevas was a Cuban oboist, hornist, s...",NaN
3,2303702,V. Fernández,Male,NaN,NaN,NaN,NaN,Cuba,CUB,NaN,NaN
4,2303738,A. F. Ruiz,Male,NaN,NaN,NaN,NaN,Cuba,CUB,NaN,NaN

In [262]:
events_results.head()

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,position,medal,is_team_sport
0,1928 Winter Olympics,30,SUI,Skeleton,"Skeleton, Men",1,Willy von Eschen,98710,Did not finish,NaN,False
1,1928 Winter Olympics,30,FRA,Skeleton,"Skeleton, Men",1,"Jean, Comte de Beaumont",42118,Did not start,NaN,False
2,1928 Winter Olympics,30,FRA,Skeleton,"Skeleton, Men",1,Pierre Dormeuil,85267,Did not finish,NaN,False
3,1928 Winter Olympics,30,GBR,Skeleton,"Skeleton, Men",1,Lord Brabazon of Tara,1202561,Did not start,NaN,False
4,1928 Winter Olympics,30,SUI,Skeleton,"Skeleton, Men",1,Alexander Berner,84063,5,NaN,False

## Excluindo colunas que não nos interessa
     - O comando .drop() exige o argumento columns=['coluna1', 'coluna2', 'etc'] especificando quais colunas queremos remover
     - O comando inplace= True faz o programa alterar no dataset original

In [263]:
bio.drop(columns=['description','birth_date', 'special_notes'], inplace= True) # Excluímos colunas que não nos interessam no dataset dos atletas e suas caracteríticas com o comando .drop()

In [264]:
events_results.drop(columns=['result_id', 'event', 'is_team_sport'], inplace= True) # Excluímos colunas que não nos interessam no dataset dos resultados

## Contagem de valores nulos nos dois datasets
     - comando *isnull()* conta as linhas em que não há valores
     - comando *.sum()* faz a soma desse valores nulos(Como se contasse quantos valores são nulos na coluna em questão)

In [265]:
bio.isnull().sum() #

athlete_id         0
name               0
sex                0
birth_year      4167
height         50749
weight         51710
country            0
country_noc        0
dtype: int64

In [266]:
events_results.isnull().sum()

edition             0
edition_id          0
country_noc         0
sport               0
athlete             0
athlete_id          0
position            0
medal          272147
dtype: int64

## Combinando os dois datasets
     - O comando .merge() exige alguns argumentos para seu melhor funcionamento
          - Digitamos entres os parênteses primeiro os N datasets que vamos trabalhar, com todos separados por vírgulas
          - Segundo temos que definir quais colunas os datasets vão ter como base para então juntar todos eles, isso acontece pelo comando on= e a coluna em questão dever vir com aspas simples (Ex: 'coluna') e caso seja mais de uma coluna, estas devem vir dentro de colchetes (Ex: on=['coluna1', 'coluna2'])
          - O último comando how= nos diz que tipo de join nosso programa deve realizar('inner', 'left', 'right')

In [267]:
combinação = pd.merge(events_results, bio, on=['athlete_id', 'country_noc'], how='inner')
combinação.head()

,edition,edition_id,country_noc,sport,athlete,athlete_id,position,medal,name,sex,birth_year,height,weight,country
0,1928 Winter Olympics,30,SUI,Skeleton,Willy von Eschen,98710,Did not finish,NaN,Willy von Eschen,Male,1902.0,NaN,NaN,Switzerland
1,1928 Winter Olympics,30,FRA,Skeleton,"Jean, Comte de Beaumont",42118,Did not start,NaN,"Jean, Comte de Beaumont",Male,1904.0,NaN,NaN,France
2,1928 Winter Olympics,30,FRA,Skeleton,Pierre Dormeuil,85267,Did not finish,NaN,Pierre Dormeuil,Male,1887.0,198.0,88.0,France
3,1928 Winter Olympics,30,GBR,Skeleton,Lord Brabazon of Tara,1202561,Did not start,NaN,Lord Brabazon of Tara,Male,1884.0,NaN,NaN,Great Britain
4,1928 Winter Olympics,30,SUI,Skeleton,Alexander Berner,84063,5,NaN,Alexander Berner,Male,1901.0,NaN,NaN,Switzerland

## Criamos a coluna Ano da Edição no dataset combinado extraindo da coluna 'edition'
    - pd.to_numeric() converte os caracteres da coluna especificada(edition) em número, nesse caso acessamos a coluna edition em combinação['edition']
    - o comando .str[:4] extrai os 4 primeiros caracateres, como cada linha em 'edition' começa com o ano conseguimos extrair os 4 primeiros dígitos que são o ano em que foi realizado a edição

In [268]:
combinação['Ano da Edição'] = pd.to_numeric(combinação['edition'].str[:4], errors='coerce')

## Criamos e calculamos a idade do atleta na edição em que participou
    - No trecho combinação['Idade'] =, nós criamos uma nova coluna no dataset determinada Idade
    - No restante acessamos a coluna antes criada 'Ano da Edição' e subtraimos com a coluna 'birth_year', esta subtração vai acontecer para cada linha das colunas retornando o resultado na linha em que foi realizada a operação na coluna 'Idade'

In [269]:
combinação['Idade'] = combinação['Ano da Edição'] - combinação['birth_year']

## Vamos criar um novo dataset em que tenha apenas nossos países-alvo(França, Espanha e Japão)
    - definimos uma variável paises no formato da coluna country_noc(apenas as siglas dos países)
    - criamos um novo dataset combinação_filtrada
    - a função .isin(paises) analisa se o dataset combinação['country_noc'] para filtrar apenas aqueles que especificamos na variável paises 
    - por fim a função .copy() diz ao programa que de fato estamos criando um novo dataset filtrado por esses países

In [270]:
paises = ['FRA', 'ESP', 'JPN']
combinação_filtrada = combinação[combinação['country_noc'].isin(paises)].copy()

In [271]:
combinação_filtrada.isnull().sum()

edition              0
edition_id           0
country_noc          0
sport                0
athlete              0
athlete_id           0
position             0
medal            28729
name                 0
sex                  0
birth_year        1871
height           10291
weight           10344
country              0
Ano da Edição        0
Idade             1871
dtype: int64

# Preenchendo alguns valores faltantes
### Precisamos tomar cuidado, pois a média global poderia ocultar alguns dados, então temos de filtrar por esporte e gênero
    - Criamos a coluna 'height' e com o comando .fillna() vamos preencher os seus valores faltantes
    - .groupby(['sport', 'sex'])['height'] -> Agrupa por esporte e sexo e seleciona a coluna 'height'
    - Já .tranform('mean') calcula a média dos valores para cada grupo que especificamos

    ** Vemos que ainda há valores faltantes ao usar  combinação_filtrada.isna().sum(). Isso ocorre, pois há grupos que não tinham dados de peso e altura

In [272]:
combinação_filtrada['height'] = combinação_filtrada['height'].fillna(combinação_filtrada.groupby(['sport', 'sex'])['height'].transform('mean'))
combinação_filtrada['weight'] = combinação_filtrada['weight'].fillna(combinação_filtrada.groupby(['sport', 'sex'])['weight'].transform('mean'))

## Arredondando os valores das médias das colunas
    - O comando .round() indica para quantas casas decimais queremos arredondar os valores, nesse caso para duas casas decimais

In [273]:
combinação_filtrada['height'] = combinação_filtrada['height'].round(2)
combinação_filtrada['weight'] = combinação_filtrada['weight'].round(2)

In [274]:
combinação_filtrada.isna().sum()

edition              0
edition_id           0
country_noc          0
sport                0
athlete              0
athlete_id           0
position             0
medal            28729
name                 0
sex                  0
birth_year        1871
height            1299
weight            1299
country              0
Ano da Edição        0
Idade             1871
dtype: int64

# Criamos um arquivo localmente no formato de CSV

In [275]:
combinação_filtrada.to_csv('olympic_filtered_branch.csv', index= False)